html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}

.hyun-btn,.hyun-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.hyun-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.hyun-btn.hyun-disabled:hover,.hyun-btn:disabled:hover{box-shadow:none}
.hyun-display-container{position:relative}.hyun-text{display:inline-block}


.hyun-bar-block .hyun-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.hyun-block{display:block;width:100%}
.hyun-responsive{display:block;overflow-x:auto}
.hyun-container:after,.hyun-container:before,.hyun-panel:after,.hyun-panel:before,.hyun-row:after,.hyun-row:before,.hyun-row-padding:after,.hyun-row-padding:before,
.hyun-cell-row:before,.hyun-cell-row:after,.hyun-clear:after,.hyun-clear:before,.hyun-bar:before,.hyun-bar:after{content:"";display:table;clear:both}
.hyun-col,.hyun-half,.hyun-third,.hyun-twothird,.hyun-threequarter,.hyun-quarter{float:left;width:100%}

@media (min-width:601px){.hyun-col.m1{width:8.33333%}.hyun-col.m2{width:16.66666%}.hyun-col.m3,.hyun-quarter{width:24.99999%}.hyun-col.m4,.hyun-third{width:33.33333%}
.hyun-col.m5{width:41.66666%}.hyun-col.m6,.hyun-half{width:49.99999%}.hyun-col.m7{width:58.33333%}.hyun-col.m8,.hyun-twothird{width:66.66666%}
.hyun-col.m9,.hyun-threequarter{width:74.99999%}.hyun-col.m10{width:83.33333%}.hyun-col.m11{width:91.66666%}.hyun-col.m12{width:99.99999%}}
@media (min-width:993px){.hyun-col.l1{width:8.33333%}.hyun-col.l2{width:16.66666%}.hyun-col.l3{width:24.99999%}.hyun-col.l4{width:33.33333%}
.hyun-col.l5{width:41.66666%}.hyun-col.l6{width:49.99999%}.hyun-col.l7{width:58.33333%}.hyun-col.l8{width:66.66666%}
.hyun-col.l9{width:74.99999%}.hyun-col.l10{width:83.33333%}.hyun-col.l11{width:91.66666%}.hyun-col.l12{width:99.99999%}}
.hyun-rest{overflow:hidden}.hyun-stretch{margin-left:-16px;margin-right:-16px}
.hyun-content,.hyun-auto{margin-left:auto;margin-right:auto}.hyun-content{max-width:980px}.hyun-auto{max-width:1140px}
.hyun-cell-row{display:table;width:100%}.hyun-cell{display:table-cell}
.hyun-cell-top{vertical-align:top}.hyun-cell-middle{vertical-align:middle}.hyun-cell-bottom{vertical-align:bottom}
.hyun-hide{display:none!important}.hyun-show-block,.hyun-show{display:block!important}.hyun-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.hyun-auto{max-width:95%}}
@media (max-width:600px){.hyun-modal-content{margin:0 10px;width:auto!important}.hyun-modal{padding-top:30px}
.hyun-dropdown-hover.hyun-mobile .hyun-dropdown-content,.hyun-dropdown-click.hyun-mobile .hyun-dropdown-content{position:relative}
.hyun-hide-small{display:none!important}.hyun-mobile{display:block;width:100%!important}.hyun-bar-item.hyun-mobile,.hyun-dropdown-hover.hyun-mobile,.hyun-dropdown-click.hyun-mobile{text-align:center}
.hyun-dropdown-hover.hyun-mobile,.hyun-dropdown-hover.hyun-mobile .hyun-btn,.hyun-dropdown-hover.hyun-mobile .hyun-button,.hyun-dropdown-click.hyun-mobile,.hyun-dropdown-click.hyun-mobile .hyun-btn,.hyun-dropdown-click.hyun-mobile .hyun-button{width:100%}}
@media (max-width:768px){.hyun-modal-content{width:500px}.hyun-modal{padding-top:50px}}
@media (min-width:993px){.hyun-modal-content{width:900px}.hyun-hide-large{display:none!important}.hyun-sidebar.hyun-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.hyun-hide-medium{display:none!important}}
@media (max-width:992px){.hyun-sidebar.hyun-collapse{display:none}.hyun-main{margin-left:0!important;margin-right:0!important}.hyun-auto{max-width:100%}}
.hyun-top,.hyun-bottom{position:fixed;width:100%;z-index:1}.hyun-top{top:0}.hyun-bottom{bottom:0}
.hyun-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.hyun-display-topleft{position:absolute;left:0;top:0}.hyun-display-topright{position:absolute;right:0;top:0}
.hyun-display-bottomleft{position:absolute;left:0;bottom:0}.hyun-display-bottomright{position:absolute;right:0;bottom:0}
.hyun-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.hyun-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.hyun-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.hyun-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hyun-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hyun-display-container:hover .hyun-display-hover{display:block}.hyun-display-container:hover span.hyun-display-hover{display:inline-block}.hyun-display-hover{display:none}
.hyun-display-position{position:absolute}
.hyun-circle{border-radius:50%}
.hyun-round-small{border-radius:2px}.hyun-round,.hyun-round-medium{border-radius:4px}.hyun-round-large{border-radius:8px}.hyun-round-xlarge{border-radius:16px}.hyun-round-xxlarge{border-radius:32px}
.hyun-row-padding,.hyun-row-padding>.hyun-half,.hyun-row-padding>.hyun-third,.hyun-row-padding>.hyun-twothird,.hyun-row-padding>.hyun-threequarter,.hyun-row-padding>.hyun-quarter,.hyun-row-padding>.hyun-col{padding:0 8px}
.hyun-container,.hyun-panel{padding:0.01em 16px}.hyun-panel{margin-top:16px;margin-bottom:16px}
.hyun-code,.hyun-codespan{font-family:Consolas,"courier new";font-size:16px}
.hyun-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.hyun-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.hyun-card,.hyun-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.hyun-card-4,.hyun-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.hyun-spin{animation:hyun-spin 2s infinite linear}@keyframes hyun-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.hyun-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.hyun-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.hyun-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.hyun-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.hyun-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.hyun-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.hyun-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.hyun-animate-input{transition:width 0.4s ease-in-out}.hyun-animate-input:focus{width:100%!important}
.hyun-opacity,.hyun-hover-opacity:hover{opacity:0.60}.hyun-opacity-off,.hyun-hover-opacity-off:hover{opacity:1}
.hyun-opacity-max{opacity:0.25}.hyun-opacity-min{opacity:0.75}
.hyun-greyscale-max,.hyun-grayscale-max,.hyun-hover-greyscale:hover,.hyun-hover-grayscale:hover{filter:grayscale(100%)}
.hyun-greyscale,.hyun-grayscale{filter:grayscale(75%)}.hyun-greyscale-min,.hyun-grayscale-min{filter:grayscale(50%)}
.hyun-sepia{filter:sepia(75%)}.hyun-sepia-max,.hyun-hover-sepia:hover{filter:sepia(100%)}.hyun-sepia-min{filter:sepia(50%)}
.hyun-tiny{font-size:10px!important}.hyun-small{font-size:12px!important}.hyun-medium{font-size:15px!important}.hyun-large{font-size:18px!important}
.hyun-xlarge{font-size:30px!important}.hyun-xxlarge{font-size:36px!important}.hyun-xxxlarge{font-size:48px!important}.hyun-jumbo{font-size:64px!important}
.hyun-left-align{text-align:left!important}.hyun-right-align{text-align:right!important}.hyun-justify{text-align:justify!important}.hyun-center{text-align:center!important}
.hyun-border-0{border:0!important}.hyun-border{border:1px solid #ccc!important}
.hyun-border-top{border-top:1px solid #ccc!important}.hyun-border-bottom{border-bottom:1px solid #ccc!important}
.hyun-border-left{border-left:1px solid #ccc!important}.hyun-border-right{border-right:1px solid #ccc!important}
.hyun-topbar{border-top:6px solid #ccc!important}.hyun-bottombar{border-bottom:6px solid #ccc!important}
.hyun-leftbar{border-left:6px solid #ccc!important}.hyun-rightbar{border-right:6px solid #ccc!important}
.hyun-section,.hyun-code{margin-top:16px!important;margin-bottom:16px!important}
.hyun-margin{margin:16px!important}.hyun-margin-top{margin-top:16px!important}.hyun-margin-bottom{margin-bottom:16px!important}
.hyun-margin-left{margin-left:16px!important}.hyun-margin-right{margin-right:16px!important}
.hyun-padding-small{padding:4px 8px!important}.hyun-padding{padding:8px 16px!important}.hyun-padding-large{padding:14px 24px!important}
.hyun-padding-16{padding-top:16px!important;padding-bottom:16px!important}.hyun-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.hyun-padding-32{padding-top:32px!important;padding-bottom:32px!important}.hyun-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.hyun-padding-64{padding-top:64px!important;padding-bottom:64px!important}



.hyun-button:hover{color:#000!important;background-color:#ccc!important}
/* Colors */
.hyun-white,.hyun-hover-white:hover{color:#000!important;background-color:#fff!important}
.hyun-dark-grey,.hyun-hover-dark-grey:hover,.hyun-dark-gray,.hyun-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.hyun-black,.hyun-hover-black:hover{color:#fff!important;background-color:#000!important}
